:root {
  --branding-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  width: 100%;
  height: 500px;
  background-image: url("/images/picture_black.jpg");
  background-size: 100% 100%;
  text-align: center;
  padding: 130px 20px;
  opacity: 1;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: white;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
  color: #272142;
}
.hero h1 {
  font-size: 96px;
  line-height: 1.5;
  color: white;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: white;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
}
.project-description {
  padding: 80px 60px;
}
footer .social-links a {
  margin: 0 30px;
  color: var(--branding-color);
  background: var (--secondary-color);
  padding: 10px 18px;
  border-radius: 50%;
  font-size: 24px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

footer .email-link:hover {
  color: var(--branding-color);
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
    text-align: center;
  }
  h2 {
    font-size: 42px;
  }
  h4 {
    font-size: 18px;
  }
  .project-description {
    padding: 15px;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  #hire {
    margin-bottom: 20px;
    margin-left: 47px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container .img-fluid {
    padding-top: 40px;
  }
  nav a {
    font-size: 12px;
  }
  footer .email-link {
    font-size: 18px;
  }
  #h1-work {
    font-size: 30px;
  }
  .title-project {
    padding-top: 90px;
  }
}
img {
  display: block;
  padding-top: 80px;
}
#hire {
  width: 250px;
  text-align: center;
  margin-right: 50px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content-container {
  padding-top: 0;
}
.content {
  margin: 30px;
}
.content-container .img-fluid {
  width: 600px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.content p {
  font-size: 14px;
}
#photo {
  width: 400px;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 30px;
  padding-right: 40px;
}
.logo {
  max-width: 150px;
  max-height: 40px;
  padding-top: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav {
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: #272142;
}
nav a:hover,
nav li.active a {
  color: rgb(54, 225, 168);
  transition: all 100ms ease-in-out;
}
#first-free,
#second-free,
.contact-form {
  background: var(--secondary-color);
}

#download {
  background: none;
}
#email-work,
#contact-first {
  padding: 40px;
  background: var(--secondary-color);
}
#h1-work {
  padding: 40px;
  background: var(--secondary-color);
}

#promo-description,
#p-contact,
#cake_photo,
#img-prom {
  padding-top: 30px;
}
.contact-post {
  font-family: var(--default-font-family);
}
.title-contact {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--default-font-family);
}
#contact-first a {
  text-decoration: none;
  color: #272142;
}
#contact-first a:hover {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}
#WhatsAppBtn,
#SkypeBtn,
#EmailBtn {
  font-size: 36px;
  padding-left: 10px;
}
#forecast-logo-index {
  padding-left: 50px;
  padding-top: 90px;
}
